body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 965px;
    font-size: 18px;
    margin: auto;
    text-align: center;
}

header, nav, section, aside, footer {
    background: #ebebeb;
    text-align: center;
    display: block;
    padding: 10px;
    margin: 10px;
}

article {
    color: #ebebeb;
    background: #777;
    width: 80%;
    padding: 10px;
    margin: 13% 5% 0% 8%;
}

h1, h2, h3, p {
    color: #777;
    background: #ebebeb;
    width: 90%;
    padding: 3%;
}

section {
    width: 495px;
    float: left;
    height: 310px;
    display: block;
    overflow: hidden;
    margin: 10px, 50px, 20px, 0px;
}

aside {
    width: 40%; 
    height: 310px;
    float: right;
    display: block;
    overflow: hidden;
}

header {
    margin: 1%;
    width: 10px, 16px;
    height: 80px;
}

nav {
    margin: 1%;
    height: 80px;
}

footer {
    margin: 1%;
    width: 10px, 16px;
    height: 80px;
    clear: both;
}


